<section class="grid grid-3col">
  <aside class="sidebar">
    {{> "systems/atow/templates/actor/parts/attributes-pane.hbs"}}
  </aside>

  <section class="main grid-span-2">
    {{!-- {{> "systems/atow/templates/actor/parts/skills-pane.hbs"}} --}}
  </section>
</section>